<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="systems.obscure.client" >

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="systems.obscure.client.MainActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ContactsListActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".PictureActivity"
            android:label="@string/title_activity_picture"
            android:parentActivityName=".CameraActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="systems.obscure.client.CameraActivity" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".ContactsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="systems.obscure.client.ContactsListActivity" />
        </activity>
        <activity
            android:name=".Messages"
            android:label="@string/title_activity_messages" >
        </activity>

        <activity android:name="org.thoughtcrime.securesms.ConversationListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name="org.thoughtcrime.securesms.PassphraseCreateActivity"
            android:label="@string/AndroidManifest__create_passphrase"
            android:windowSoftInputMode="stateUnchanged"
            android:theme="@style/TextSecure.IntroTheme"
            android:launchMode="singleTop"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name="org.thoughtcrime.securesms.PassphrasePromptActivity"
            android:label="@string/AndroidManifest__enter_passphrase"
            android:launchMode="singleTop"
            android:theme="@style/TextSecure.IntroTheme"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

        <activity android:name="org.thoughtcrime.securesms.RoutingActivity"
            android:theme="@style/NoAnimation.Theme.BlackScreen"
            android:launchMode="singleTask"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
            </intent-filter>

        </activity>

        <activity android:name="org.thoughtcrime.securesms.ApplicationPreferencesActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

</manifest>
